{% extends 'base.html' %}

{% block content %}

<h1 class="display-3">All About {{user.username}}</h1>
<ul>
    <li><b>First name:</b>{{user.first_name}} </li>
    <li><b>Last name:</b>{{user.last_name}} </li>
    <li><b>Email:</b>{{user.email}} </li>

</ul>

<form action="/user/{{user.id}}/delete" method="POST">
    <button class="btn btn-danger">Delete Account</button>
</form>
<h3>Feedback</h3>
<ul>
    {% for feedback in user.feedback %}

    <li>
        {{ feedback.title }}
        <small>{{ feedback.content }}</small>
        <div class="row">
            <div class="col-xs-1 mx-3">
                <form action="/feedback/{{feedback.id}}/delete" method="post"><button
                        class="btn btn-danger btn-sm">Delete</button>
                </form>
            </div>
            <div class="col-xs-1">
                <form action="/feedback/{{feedback.id}}/update" method="get">
                    <button class="btn btn-info btn-sm">Edit</button>
                </form>
            </div>
        </div>
    </li>
    {%endfor%}
    <form action="/user/{{user.id}}/feedback/add" method="GET">
        <button class="btn btn-success">Create new Feedback</button>
    </form>


    {% endblock %}